<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">reservapp</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/reservapp</property>
        <property name="hibernate.connection.username">reservapp</property>
        <property name="hibernate.default_schema">reservapp</property>
        <mapping resource="com/reservappfinal/entrega/modelo/Usuario.hbm.xml" />
        <mapping resource="com/reservappfinal/entrega/modelo/Mesa.hbm.xml" />
        <mapping resource="com/reservappfinal/entrega/modelo/Orden.hbm.xml" />
        <mapping resource="com/reservappfinal/entrega/modelo/Reserva.hbm.xml" />
        <mapping resource="com/reservappfinal/entrega/modelo/Establecimiento.hbm.xml" />
        <mapping resource="com/reservappfinal/entrega/modelo/Factura.hbm.xml" />
        <mapping resource="com/reservappfinal/entrega/modelo/Menu.hbm.xml" />
        <mapping resource="com/reservappfinal/entrega/modelo/Rol.hbm.xml" />
    </session-factory>
</hibernate-configuration>
